.vscode/**
.vscode-test/**
src/**
out/**/*.map
out/**/*.d.ts
node_modules/**
.gitignore
.eslintrc.json
.prettierrc
tsconfig.json
*.vsix
**/*.ts
**/.git*
PUBLISHING.md
TESTING.md
FEATURES.md
images/icon-original.png
images/*.svg
